.project-card {
    margin: 2vw;
    padding: 2.5%;
    width: 400px;
    height: 400px;
    background-color: #C6AC8F;
    color: #5E503F;
    transition: all 0.2s ease-in-out;
    box-shadow: 0.5rem 0.5rem black;
    border-radius: 10%;
}

.project-card:hover {
    box-shadow: 1rem 1rem black;
    transform: scale(1.04);
}

.project-card:active {
    box-shadow: 0.5rem 0.5rem black;
    transform: translateY(0px);
    transition: 0.12s ease-in-out;
}

.chevron-scroll-left {
    width: 5%;
    height: auto;
    transform: rotate(90deg);
}

.chevron-scroll-right {
    width: 5%;
    height: auto;
    transform: rotate(-90deg);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
}