img {
    height: 100%;
}

.button-card {
    margin: 2vw;
    height: 100px;
    width: fit-content;
    background-color: #C6AC8F;
    color: #5E503F;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    box-shadow: 0.5rem 0.5rem black;
}

.button-card:hover {
    box-shadow: 1rem 1rem black;
    transform: scale(1.04);
}

.button-card:active {
    box-shadow: 0.5rem 0.5rem black;
    transform: translateY(0px);
    transition: 0.12s ease-in-out;
}