@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


.App {
  font-family: 'Varela Round', sans-serif;
  color: #EAE0D5;
  margin: 5%;
  display: block;
}

.spacer {
  width: 100%;
  height: 28vh;
}

.sections {
  padding-top: 15vh;
}

.textArea {
  font-size: 20px;
  text-align: justify;
}

.header-title {
  font-size: 100px;
}

.header-textArea {
  font-size: 40px;
  width: fit-content;
}

.styled-img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  transition: all 0.2s ease-in-out;
  box-shadow: 0.5rem 0.5rem black;
}

.styled-img:hover {
  box-shadow: 1rem 1rem black;
  transform: scale(1.04);
}

.styled-img:active {
  box-shadow: 0.5rem 0.5rem black;
  transform: translateY(0px);
  transition: 0.12s ease-in-out;
}

footer {
  margin-top: 15vh;
  font-family: 'Varela Round', sans-serif;
  color: #C6AC8F;
  background-color: #0C1214;
  padding: 5%;
  width: 100%;
}

.chevron-down {
  width: 10%;
  height: auto;
  animation: pulsate 2s infinite;
  transition: ease-out;
}

@keyframes pulsate {
  0%, 100% {
    transform: translateX(0);
    opacity: 0.5;
  }
  40% {
    transform: translateY(30px);
    opacity: 1;
  }
}

.hand-wave {
  width: 100%;
  height: auto;
  transform: rotate(60deg);
  transition: all 0.2s ease-in-out;
}

.hand-wave:hover {
  max-width: 100%;
  animation: rotation 0.5s;
  animation-timing-function: ease-in-out;
}

.hand-wave:active {
  transform: rotate(60deg) scale(1.25);
}

@keyframes rotation {
  0%, 100% {
    transform: rotate(60deg) scale(1);
  }
  50% {
    transform: rotate(77.5deg) scale(1.25);
  }
  10%, 90% {
    transform: rotate(77.5deg) scale(1.05);
  }
  30%, 70% {
    transform: rotate(52.5deg) scale(1.15);
  }
}